body{background-image: url(../css/pattern.jpg);}
.topnav{
    display: flex;
    background-color: white;
    margin: -11vh 0 6vh -3.9vh;    
    width: 210.5vh;
    max-width: 300vh;
    position: fixed;
}
#logo{margin-left: 2vh;}
.nav-menu{margin-left: 136vh;}
ul{
    list-style-type:none;
    font-size: 14pt;
}
li{
    display: inline;
    margin: 0 1.6vh;
}
a{
    text-decoration: none;
    color: blue;
}
a:focus{outline-style: none;}
.nav-link:hover{
    color: red;
    background-color: yellow;
}
.content-index{
    position: static;
    margin:11vh 25vh 0 25vh;
    padding: 2vh 1vh;
    background-color: white;
}
.judul-index{
    margin-bottom: 15vh;
    text-align: center;
}
.ftr{
    position: relative;
    background-color: black;
    color: white;
    margin-top: -1vh;
    margin-bottom: 8vh;
    height: 9vh;
    text-align: center;
}
.ftr-text{padding: 3vh 0;}
.content-about, .content-contact{
    background-color: white;
    margin: 2vh 42vh 5vh 52vh;
    font-size: 14pt;
    padding: 1vh;
}
.content-about{border-right: black solid;}
.content-about2,.content-contact2{
    padding:1vh 5vh;
    border-style: groove;
}
.judul-about{text-align: center;}
.back-link{margin-left: 42vh;}
.input-text{margin-left: 10vh;}
.radio-lk{margin-left: 21vh;}
.radio-pr{margin-left: 3.71vh;}
.pesan{margin-left: 6vh;}